extends be_base

include ../../mixins/_formFields
include ../../mixins/_formSelectOptions

block content

	main.container

	
		section.product__item 
		

			h2.admin__page--heading  New Barong
			
			form.product__form--create(method="POST" enctype="multipart/form-data")
				.product__form--group
					+formRows('name','text','')
				.product__form--group
					+formRows('description','text','')
				.product__form--group
					+formRows('original-price','text','')
				.product__form--group
					+formSelectCodeNone('category', categories, null)
				.product__form--group
					+formSelectCodeNone('discount', discounts, null)

					
					
				////-------	----- -Variants ------- --------//
				

				.product__form--grid-select
				
					.product__form--left
						.product__form--group
							+formSelect('sex', ['male', 'female', 'unisex', 'boy', 'girl', 'unisex-kids'], null)
						.product__form--group
							+formSelect('style', ['Crew-Neck', 'V-neck', 'Polo', 'Tank', 'Singlet', 'Slim-fit', 'Fitted', 'Relaxed-fit', 'Crop-top'], null)
						.product__form--group
							+formSelect('color', ['black', 'white', 'red', 'blue', 'green', 'yellow', 'pink', 'purple', 'orange', 'grey', 'brown'], null)

					.product__form--right
						.product__form--group--variant
							+variantRow(0, 'XS', 'XS', 0)
							+variantRow(0, 'S', 'S', 0)
							+variantRow(1, 'M', 'M', 0)
							+variantRow(2, 'L', 'L', 0)
							+variantRow(3, 'XL', 'XL', 0)
							+variantRow(4, 'XXL', 'XXL', 0)
							+variantRow(5, 'XXXL', 'XXXL', 0)
							+variantRow(5, 'XXXXL', 'XXXXL', 0)
							
							
					////-------	-------------  ---------// -//
					

				
				//-- Image Upload Section (Cover + Multiple Images) --//
				
				.product__form--img-box-new
					label.product__form--img-label(for='product-image-cover') Upload Main Image (Cover):
					input#product-image-cover(type='file', name='imageCover', accept='image/*')
		


				.product__form--img-box-new
					label.product__form--img-label Upload Additional Images:
					input#product-image-array(type="file", accept="image/*", name="images", multiple)
					

				button.product__form--btn(type="submit") Confirm
