extends be_base 

block content 

	main.admin__home--main.container 
		section.admin__home--grid 
			.admin__home--box
				h3 Barongs 
				p Add/ Edit & Delete Barongs 
				a(href="/admin/be_barongs-list" class='admin__home--link') Select 
			.admin__home--box
				h3 Shoes
				p Add/ Edit & Delete Shoes 
				a(href="/admin/be_shoes-list" class='admin__home--link') Select 
			.admin__home--box
				h3 Accessories 
				p Add/ Edit & Delete Accessories 
				a(href="/admin/be_accessories-list" class='admin__home--link') Select 
