extends be_base

include ../../mixins/_formFields
include ../../mixins/_formSelectOptions

block content

	main.container
	
		section.product__item 		

			h2.admin__page--heading Add New Shoes
			
			form.shoe__form--create(method="POST" enctype="multipart/form-data")
				.product__form--group
					+formRows('name','text','')
				.product__form--group
					+formRows('description','text','')
				.product__form--group
					+formRows('original-price','text','')
				.product__form--group
					+formSelectCodeNone('category', categories, null)
				//- .product__form--group
				//- 	+formSelectCodeNone('discount', discounts, null)

					
					
				////-------	----- -Variants ------- --------//
				

				.product__form--grid-select
				
					.product__form--left
						.product__form--group
							+formSelect('sex', ['female', 'unisex', 'girl', 'unisex-kids'], null)
						.product__form--group
							+formSelect('style', ['Slip-on'], null)
						.product__form--group
							+formSelect('color', ['black', 'white', 'red', 'blue', 'green', 'yellow', 'pink', 'purple', 'orange', 'grey', 'brown'], null)

					.product__form--right
						.product__form--group--variant
							+variantRow(0, '5', '5', 0)
							+variantRow(1, '6', '6', 0)
							+variantRow(2, '7', '7', 0)
							+variantRow(3, '8', '8', 0)
							+variantRow(4, '9', '9', 0)
							+variantRow(5, '10', '10', 0)
							+variantRow(6, '11', '11', 0)
										
							
					////-------	-------------  ---------// -//
					

				
				//-- Image Upload Section (Cover + Multiple Images) --//
				
				.product__form--img-box-new
					label.product__form--img-label(for='shoe-image-cover') Upload Main Image (Cover):
					input#shoe-image-cover(type='file', name='imageCover', accept='image/*')

				.product__form--img-box-new
					label.product__form--img-label Upload Additional Images:
					input#shoe-image-array(type="file", accept="image/*", name="images", multiple)
					

				button.product__form--btn(type="submit") Confirm

			