footer 

	.footer
		.footer-container
			.footer_logo-box
				a(href="/") 
					img(src='/img/logo/default-logo.png', alt='image',width="250",height="100", class='header__logo' fetchpriority="high")
				p Custom Filipino formalwear and accessories
			.footer__address
				p Ang Hiyas
				p Brisbane, Queensland
				p By appointment / Enquiries welcome
				
			.footer__socials
				a(href="#" aria-label="Instagram")
					img(src="/img/icons/instagram-logo.svg", class='footer_socials-icon' alt="")
				a(href="#")
					img(src="/img/icons/facebook-logo.svg", class='footer_socials-icon' alt="")
				a(href="#")
					img(src="/img/icons/x-logo.svg", class='footer_socials-icon' alt="")
				

			.footer__contact 
				a(href="/contact" class='footer_contact-link') Contact Us 
				a(href="mailto:nyck_knox@yahoo.com" class='footer_contact-link') Email
				a(href="tel:+61417273787" class='footer_contact-link') Phone
			
			.footer_back-to-top 
				a(href="#top" class='back-to-top_arrow') ⬆
