
extends base

block content 

	main.container.aboutPage
	
		section.aboutPage-grid
		
			.abouPage-left
	
				.aboutPage--heading-box

					h2.aboutPage--heading About Us
					
			.aboutPage-right 
				
				.aboutPage--image-box
					img(src="/img/other_imgs/about.jpeg", class='aboutPage-img' alt="")
					
			.aboutPage-right-text 
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, odio labore? Dolorem in delectus, dicta eius itaque soluta totam quos fuga molestias eaque quo, fugiat temporibus maxime magnam porro? Blanditiis!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor odit voluptatum libero accusamus aliquam quisquam sequi velit? Obcaecati suscipit minus consequatur dolore ipsam nam fugit itaque laudantium unde quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor odit voluptatum libero accusamus aliquam quisquam sequi velit? Obcaecati suscipit minus consequatur dolore ipsam nam fugit itaque laudantium unde quam!
				
			