extends base 




block content 


	main.container.seventy-five-vh
	
		.checkout__success-page 
		
			.checkout__success--box
	
				h2.checkout__success--heading Checkout Successful
				h2.checkout__success--heading Please check your inbox for Order Confirmation
				a(href=`/` , 
				class='checkout__success-back') Back to Home