extends base 




block content 


	main.container.seventy-five-vh
	
		.checkout__success-page 
		
			.checkout__success--box
	
				h2.checkout__success--heading Checkout Successful
				a(href=`/my-account/${user.id}` , 
				class='checkout__success-back') Back to Account Page