//- extends base 

//- block content 

//- 	main.container.seventy-five-vh
	
//- 		.checkout__success-page 
		
//- 			.checkout__success--box
	
//- 				h2.checkout__success--heading Checkout Successful
//- 				a(href=`/my-account/${user.id}` , 
//- 				class='checkout__success-back') Back to Account Page

extends base

block content
	main.container.seventy-five-vh
		.checkout__success-page
			.checkout__success--box

				.checkout__success--icon(aria-hidden="true") ✓

				h2.checkout__success--heading Order confirmed

				p.checkout__success--sub We’ve received your order and will begin processing it shortly.

				if typeof order !== 'undefined' && order && order.orderNum
					p.checkout__success--meta Order number:
						span.checkout__success--metaValue #{order.orderNum}

				.checkout__success--actions
					a.checkout__success-btn.checkout__success-btn--primary(href=`/my-account/${user.id}`) View my account
					a.checkout__success-btn.checkout__success-btn--ghost(href='/') Continue shopping
